@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker__day.day-full {
  background-color: #FB5151 !important;
  color: white !important;
}     

.react-datepicker__day.day-limited {
  background-color: #FFBD71 !important;
  color: white !important;
}
   
.react-datepicker__day.day-available {
  background-color: #74c69d !important;
  color: white !important;
}  
    
.react-datepicker__day.day-holiday {
  background-color: #bde0fe !important;
  color: #6b7280 !important;
  cursor: not-allowed;
}   
    
.react-datepicker__day--selected {
  background-color: transparent !important;
  border: 1px solid black !important;
}  
