@reference "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.widget-container {
  @apply bottom-4 right-5 w-[410px] h-[820px] bg-white border border-gray-200 rounded-lg shadow-lg z-[9999];
  position: relative;
}

.widget-button {
  @apply fixed bottom-5 right-5 text-white border-none rounded-full cursor-pointer z-[9999] uppercase tracking-wider transition-colors;
  background-color: #a5b68d;
  color: white;
  padding: 0.8rem 1.6rem;
  border-radius: 40px;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Big Shoulders Text', sans-serif; /* 👈 ajouté */
  text-decoration: none;
  transition: background 0.3s ease;
}

.widget-button:hover {
  background-color: #8ba574; /* effet hover identique */
}

.widget-header {
  @apply border-b border-gray-200 flex justify-between items-center;
}

.widget-content {
  @apply p-2;
}

.custom-form-label {
  @apply ml-2 flex justify-start block text-[#778DA9];
}

.custom-form-input {
  @apply bg-[#FCFCFC] text-[#000000] border-0 border-b border-b-gray-300 w-sm ml-2;
}

.custom-form-errors {
  @apply flex justify-start block border-0 text-[#E5383B] text-sm;
}

.react-datepicker__day.day-full {
  background-color: #FB5151 !important;
  color: white !important;
}     

.react-datepicker__day.day-limited {
  background-color: #FFBD71 !important;
  color: white !important;
}
   
.react-datepicker__day.day-available {
  background-color: #74c69d !important;
  color: white !important;
}  
    
.react-datepicker__day.day-holiday {
  background-color: #bde0fe !important;
  color: #6b7280 !important;
  cursor: not-allowed;
}   
    
.react-datepicker__day--selected {
  background-color: transparent !important;
  border: 1px solid black !important;
}  
